export SUBNET_ID={Subnet ID to create VM}
export SA_ID={Service Account to delete VM}
export INSTANCE_DISK_ID={Source DISK for Snapshot}
export S3_KEY_ID={Key ID for Object Storage}
export S3_KEY={Access Key for Object Storage}
export BUCKET_NAME={Bucket_name_for_image}
export S3_ENDPOINT="https://storage.yandexcloud.net" # для Yandex Object Storage